body {
	background-color: #001228;
	margin: 0px;
	padding: 0px;
	font-family: Verdana,Arial,sans-serif;
	font-size: 11px;
	color: #fff;
}

#body {
	width: 900px;
	margin-left: auto;
	margin-right: auto;
}

#header {
	width: 900px;
	height: 75px;
	background-color: transparent;
	
}

#header-buttonarea {
	float: right;
	padding-right: 12px;
	padding-top: 12px;
}
